<h2 mat-dialog-title>{{ data.title }}</h2>

<mat-dialog-content>
  <div class="form-container">
    <mat-form-field appearance="outline">
      <mat-label>{{ 'SUBJECT_TEACHER_DIALOG.NAME' | translate }}</mat-label>
      <input matInput [(ngModel)]="model.fullName" required />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{ 'SUBJECT_TEACHER_DIALOG.EMAIL' | translate }}</mat-label>
      <input matInput type="email" [(ngModel)]="model.email" />
    </mat-form-field>

    <mat-form-field appearance="outline" *ngIf="model.password">
      <mat-label>{{ 'SUBJECT_TEACHER_DIALOG.PASSWORD' | translate }}</mat-label>
      <input matInput [value]="model.password" readonly />
      <mat-icon matSuffix>content_copy</mat-icon>
      <mat-hint>{{ 'SUBJECT_TEACHER_DIALOG.HINT' | translate }}</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{ 'SUBJECT_TEACHER_DIALOG.SUBJECT' | translate }}</mat-label>
      <input matInput [(ngModel)]="model.subject" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{ 'SUBJECT_TEACHER_DIALOG.CLASSES' | translate }}</mat-label>
      <mat-select [(ngModel)]="model.classIds" multiple>
        <mat-option *ngFor="let c of data.classes" [value]="c.id">{{ c.name }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>{{ 'SUBJECT_TEACHER_DIALOG.CANCEL' | translate }}</button>
  <button mat-flat-button color="primary" (click)="save()">{{ 'SUBJECT_TEACHER_DIALOG.SAVE' | translate }}</button>
</mat-dialog-actions>