<div class="brand">
  <div class="logo">Iqra'a</div>
  <div class="sub">Admin Dashboard</div>
</div>

<mat-nav-list class="nav">
  <a mat-list-item routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    <mat-icon>dashboard</mat-icon>
    <span>Home</span>
  </a>

  <a mat-list-item routerLink="/teachers" routerLinkActive="active">
    <mat-icon>school</mat-icon>
    <span>Teachers</span>
  </a>

  <a mat-list-item routerLink="/students" routerLinkActive="active">
    <mat-icon>groups</mat-icon>
    <span>Students</span>
  </a>

  <a mat-list-item routerLink="/classes" routerLinkActive="active">
    <mat-icon>class</mat-icon>
    <span>Classes</span>
  </a>

  <!-- <a mat-list-item routerLink="/library" routerLinkActive="active">
    <mat-icon>menu_book</mat-icon>
    <span>Library</span>
  </a> -->

  <a mat-list-item routerLink="/stats" routerLinkActive="active">
    <mat-icon>bar_chart</mat-icon>
    <span>Stats</span>
  </a> 

  <!-- <a mat-list-item routerLink="/settings" routerLinkActive="active">
    <mat-icon>settings</mat-icon>
    <span>Settings</span>
  </a> -->
</mat-nav-list>
