<mat-toolbar class="topbar">
  <div class="left">
    <span class="title">{{ 'BRAND.TITLE' | translate }}</span>
    <span class="badge-tag">{{ 'TOPBAR.ADMIN_PORTAL' | translate }}</span>
  </div>

  <div class="right">
    <div class="user-profile">
      <div class="avatar">{{ (displayName || 'U').charAt(0).toUpperCase() }}</div>
      <span class="user-name">{{ displayName || ('TOPBAR.USER_ADMIN' | translate) }}</span>
    </div>

    <button mat-stroked-button class="logout-btn" (click)="logout()">
      <mat-icon>logout</mat-icon>
      {{ 'TOPBAR.LOGOUT' | translate }}
    </button>
  </div>
</mat-toolbar>